<h1 class="animated fadeIn text-center">Sobre el Comic</h1>
<p>
    La historieta, también conocida como cómic, tira cómica, comiquita, novela gráfica o arte secuencial, 
    es un género artístico y periodístico que consiste en una serie de viñetas ilustradas, con o sin texto 
    de acompañamiento, que al ser leídas en secuencia recomponen un relato.
</p>
<p>
    Las historietas pueden realizarse sobre papel o en forma digital (se llaman entonces e-cómics o webcomics), 
    ya sea como una tira de recuadros, una página completa, una revista o un libro completo. Sus relatos pueden 
    ser de índole humorística o satírica, juvenil, infantil o pueden ser narraciones literarias. Numerosos estudiosos 
    de este género lo califican como el noveno arte, ubicándolo entre las Bellas Artes junto con la pintura, la 
    literatura y el cine, con quienes tiene más en común.
</p>

<img src="assets/img/about-comic.jpg" alt="" class="center">