<h1 class="animated fadeIn text-center">
  ¿Quieres conocer un poco más sobre la historia de los comics?
</h1>
<hr>
<div class="box">
  <div class="row content">
    <p>
      <iframe
        class="video"
        width="1120"
        height="630"
        [src]="video | domseguro: 'https://www.youtube.com/embed/'"
        frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      >
      </iframe>
    </p>
  </div>
  <div class="footer">
    <p>Están dispuestos a la mano, libros que puedes llevar a todos lados llenos de superhéroes, 
        historias clásicas e incluso dramas para adultos. Algunos de ellos originalmente vendidos
        a centavos, pero ahora por millones. Con arte increíble y narrativas legendarias, sus páginas 
        han captivado a lectores por más de ochenta años. ¿Quieres conocer más?
    </p>
  </div>
</div>
<hr>
