<div class="jumbotron">
  <h1 class="display-4">HOLA SUPERHEROES</h1>
  <p class="lead">¿ESTAS LISTO PARA EMPEZAR ESTA AVENTURA SOBRE LA VIDA DE TUS SUPERHEROES FAVORITOS?</p>

  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal"
    data-whatever="@mdo">REGISTRO</button>

  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">REGISTRO</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>

        </div>
        <form [formGroup]="forma" (ngSubmit)="agregarUsuario()" class="needs-validation" novalidate>
          <div class="form-group row">
            <label for="nombre"> <i class="bi bi-person-fill col-2 col-form-label"></i> Usuario</label>
            <div class="col-8">
              <input type="text" class="form-control" formControlName="nombre" placeholder="Nombre"
                [ngClass]="{'is-invalid':!forma.get('nombre')?.valid}" [(ngModel)]="usuario.nombre">
              <div *ngIf="forma.controls['nombre'].errors?.['required']" class="invalidfeedback">
              El nombre es necesario
              </div>
              <div *ngIf="forma.controls['nombre'].errors?.['minlength']"
              class="invalid-feedback">
              Por lo menos tres caracteres
              </div>
              <div class="nombre text-danger "></div>
            </div>


          </div>
          <div class="form-group row">
            <label class="col-2 col-form-label" for="correo"><i class="bi bi-envelope-fill"></i> Email</label>
            <div class="col-8">
              <input type="email" formControlName="correo" [(ngModel)]="usuario.email" class="form-control" placeholder="Correo electronico"
                [ngClass]="{'is-invalid':!forma.get('correo')?.valid }">
              <div *ngIf="forma.controls['correo'].errors?.['required']" class="invalidfeedback">
              Correo obligatorio
              </div>
              <div *ngIf="forma.controls['correo'].errors?.['email']"
              class="invalid-feedback">
              El correo no tiene el formato correcto
              </div>
              <div class="correo text-danger"></div>
            </div>


          </div>
          <div class="mb-4">
            <label for="sexo"><i class="bi bi-gender-ambiguous"></i> Sexo: </label><br>
            <input formControlName="sexo" name="options" ng-control="options" type="radio" [value]="1"
              [(ngModel)]="usuario.sexo">masculino<br />
            <input formControlName="sexo" name="options" ng-control="options" type="radio" [value]="2" [(ngModel)]="usuario.sexo">femenino

            <div class="sexo text-danger"></div>
          </div>


          <div class="form-group row">
            <label for="apellido" class="col-2 col-form-label"> <i class="bi bi-person-bounding-box"></i> Fecha</label>
            <div>
              <input type="date" formControlName="fecha" [(ngModel)]="usuario.fecha" class="form-control" placeholder="fecha" >

              <div class="apellido text-danger"></div>
            </div>

          </div>



          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button class="btn btn-primary" type="submit" [disabled]="forma.invalid">Registro</button>
          </div>
        </form>
      </div>
    </div>
  </div>


</div>